.env
.pytest_cache
venv
.idea
report.html
pytest.log
tests/test_api/report.html
tests/test_api/pytest.log
tests/test_api/assets
tests/test_ui/report.html
tests/test_ui/pytest.log
tests/test_ui/assets
assets
/tests/test_api/report.xml
/report.xml
/report/report.xml
/tests/tests_np/report/report.xml
